services:
  carconnectivity:
    image: "tillsteinbach/carconnectivity-mqtt:${CARCONNECTIVITY_VERSION-latest}"
    ports:
     - ${CARCONNECTIVITY_PORT-4000}:${CARCONNECTIVITY_PORT-4000}
    networks:
      bridge:
      backend:
        aliases:
          - ${CARCONNECTIVITY_HOSTNAME-carconnectivitybackend}
    volumes:
      - carconnectivity_data:/root/.carconnectivity
      - /path/to/your/config/carconnectivity.json:/carconnectivity.json
    environment:
      - TZ=Europe/Berlin
      - LANG=de_DE
      - LC_ALL=de_DE
      - ADDITIONAL_INSTALLS=carconnectivity-plugin-database carconnectivity-plugin-webui
    depends_on:
      postgresdb:
        condition: service_healthy
    restart: unless-stopped

  postgresdb:
    image: postgres:13
    networks:
      backend:
        aliases:
          - ${DB_HOSTNAME-postgresdbbackend}
    volumes:
      - postgresdb_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${DB_USER-admin}
      - POSTGRES_PASSWORD=${DB_PASSWORD-secret}
      - POSTGRES_DB=${DB_NAME-carconnectivity}
      - TZ=UTC
      - PGTZ=UTC
    command: -p ${DB_PORT-5432}
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -p ${DB_PORT-5432} --username=${DB_USER-admin} --dbname=${DB_NAME-carconnectivity}"]
      interval: 10s
      timeout: 5s
      retries: 5

  grafana:
    image: "tillsteinbach/carconnectivity-grafana:${CARCONNECTIVITY_GRAFANA_VERSION-latest}"
    ports:
      - ${GF_SERVER_HTTP_PORT-3000}:${GF_SERVER_HTTP_PORT-3000}
    networks:
      bridge:
      backend:
        aliases:
          - grafanabackend
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=${CARCONNECTIVITY_USERNAME-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${CARCONNECTIVITY_PASSWORD-secret}
      - GF_SERVER_HTTP_PORT=${GF_SERVER_HTTP_PORT-3000}
      - DB_USER=${DB_USER-admin}
      - DB_PASSWORD=${DB_PASSWORD-secret}
      - DB_HOSTNAME=${DB_HOSTNAME-postgresdbbackend}
      - DB_PORT=${DB_PORT-5432}
      - DB_NAME=${DB_NAME-carconnectivity}
      - CARCONNECTIVITY_USERNAME=${CARCONNECTIVITY_USERNAME-admin}
      - CARCONNECTIVITY_PASSWORD=${CARCONNECTIVITY_PASSWORD-secret}
      - CARCONNECTIVITY_HOSTNAME=${CARCONNECTIVITY_HOSTNAME-carconnectivitybackend}
      - CARCONNECTIVITY_PORT=${CARCONNECTIVITY_PORT-4000}
      - CARCONNECTIVITY_UI_URL=${CARCONNECTIVITY_UI_URL}
    restart: unless-stopped

networks:
  bridge:
  backend:

volumes:
  carconnectivity_data:
  postgresdb_data:
  grafana_data:
