# This is a basic workflow to help you get started with Actions

name: grafana Build

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main ]
    tags:
     - "v*"
    paths:
     - .github/workflows/grafana-docker.yml
     - config/**
     - dashboards/**
     - public/**
     - Dockerfile
    
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  carconnectivity-grafana:
    runs-on: ubuntu-latest
    environment: 
      name: dockerhub
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            tillsteinbach/carconnectivity-grafana
            ghcr.io/tillsteinbach/carconnectivity-grafana
          tags: |
            type=edge,
            type=pep440,pattern={{version}}
      - name: Version from pushed tag
        if: startsWith( github.ref, 'refs/tags/v' )
        run: |
          # from refs/tags/v1.2.3 get 1.2.3
          echo "version=$(echo $GITHUB_REF | sed 's#.*/v##')" >> $GITHUB_ENV
      - name: Autobump version
        if: startsWith( github.ref, 'refs/tags/v' )
        working-directory: grafana
        run: |
          PLACEHOLDER="        \"content\": \"CarConnectivity Grafana version: [0.0.0dev](https://github.com/tillsteinbach/CarConnectivity-grafana/)\","
          REPLACEMENT="        \"content\": \"CarConnectivity Grafana version: \[${{ env.version }}\](https://github.com/tillsteinbach/CarConnectivity-grafana/releases/tag/v${{ env.version }})\","
          VERSION_FILE="dashboards/carconnectivity/CarConnectivity/overview.json"
          # ensure the placeholder is there. If grep doesn't find the placeholder
          # it exits with exit code 1 and github actions aborts the build. 
          grep "$PLACEHOLDER" "$VERSION_FILE"
          sed -i "s|$PLACEHOLDER|$REPLACEMENT|g" "$VERSION_FILE"
          grep "$REPLACEMENT" "$VERSION_FILE"
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0
      - name: Log in to Docker Hub
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6.7.0
        with:
          push: ${{ github.event_name != 'pull_request' }}
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
