name: Update Docker Hub Description for Grafana
on:
  push:
    branches:
      - main
    paths:
      - README.md
      - .github/workflows/grafana-dockerhub-description.yml
jobs:
  dockerHubDescription:
    runs-on: ubuntu-latest
    environment: 
      name: dockerhub
    steps:
    - uses: actions/checkout@v6

    - name: Docker Hub Description
      uses: peter-evans/dockerhub-description@v5.0.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: tillsteinbach/carconnectivity-grafana
        short-description: ${{ github.event.repository.description }}
        readme-filepath: ./README.md
